@* render the quote *@
@* show loading,client side *@
@if(quoteModel is null)
{ 
    <LoadingComponent />
}
else
{
    <div class="alert alert-info">
        <img src="@quoteModel.Icon_Url" />
        <span>@quoteModel.Value</span>
    </div>
}