@page "/counter"

<PageTitle>Counter</PageTitle>
<p role="status">Current count: @currentCount</p>

<CounterComponent Increment="increment" @bind-CurrentCount="currentCount"></CounterComponent>


@code {
    private int increment = 5;
    private int currentCount = 0;
}
