@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<Quote></Quote>
Counter with parameters
<CounterComponent Increment=increment 
                  @bind-CurrentCount ="currentCount">
</CounterComponent>
<p>Current count:@currentCount</p>

<Alert Style="danger">show something dangerous</Alert>
<Alert Style="primary">show something primary</Alert>
<Alert Style="warning">show something warning</Alert>
@code{
    private int increment = 5;
    private int currentCount = 0;
}